<div class="footer">
      <a href=" https://www.google.com/maps" class="store" target="_blank">
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp; Find A Store &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </a>
      <div class="line">____</div>

      <div class="social">
        <div class="soc_icons">
          <a href="https://facebook.com/"><img src="images/facebook.png" /></a>
          <a href="https://instagram.com/"><img src="images/insta.png" /></a>
          <a href="https://twitter.com/"><img src="images/twitter.png" /></a>
        </div>
      </div>
    </div>