  <header class="header">
      <a href="/homepage">
        <img src="/images/e2.png" alt="" width="100" />
      </a>

      <div class="tabs">
        <a href="/homepage">Home</a>
        <a href="/bracelets">Bracelets</a>
        <a href="/necklace">Necklaces</a>
        <a href="/rings">Rings</a>
        <a href="/earings">Earrings</a>
        <a href="/about">About Us</a>
      </div>
      <div class="tabs1">
        <a href="/cart">
        <img src="/images/Copy of shopping_w.png" alt="" width="30" />
        </a>
      </div>
    </header>