<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/aboutus.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="ct-pageWrapper" id="ct-js-wrapper">
    <section class="company-heading intro-type" id="parallax-one">
      <div class="container">
        <div class="row product-title-info">
          <div class="col-md-12">
            <h1>About Enchantress</h1>
          </div>
        </div>
      </div>
      <div class="parallax" id="parallax-cta"
        style="background-image:url(/images/slide3.png);"></div>
    </section>
    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
      <div class="container text-center">
        <h2>Brand Story</h2>
        <div class="col-md-8 col-md-offset-2">
          <div class="red-border"></div>
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">At Enchantress, jewellery is not a product but a
            manifestation of artistry and our exquisite range of jewel pieces strike the perfect balance between
            traditional charm and contemporary appeal. With designs that capture the beauty and celebration of special
            occasions in the life of the Indian woman, we aim to be an integral part of her journey.</p>
          <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
        </div>
      </div>
    </section>
    <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Epitomizing Excellence</h2>
            <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">At Enchantress, we strive to deliver
              excellence,
              consistently. We've brought to the market a whole new standard of business ethics and product reliability,
              in the process bringing about a transformation in which jewellery is bought or sold in India. With
              innovations like the Karatmeter to check the purity of gold, the brand has won over the customer’s hearts.
            </p>
          </div>
        </div>
        <a class="ct-u-marginTop60 btn btn-solodev-red-reversed btn-fullWidth-sm ct-u-size19" href="/homepage">Explore Our Collection!!</a>
      </div>
    </section>
    <section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>CUSTOMERS</h2>
            <h3>Trusted by some of the world's leading brands.</h3>
            <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60 marginTop40">At Enchantress,we provide 100%
              original products to our customers which is the most important key to grow up the market and we have many
              policies for our customer which other brands does not provide.

            </p>
          </div>
          <div class="clearfix">
          </div>
        </div>
    </section>
  </div>


</body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</html>