<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/website.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
/>
    <title>Document</title>
</head>
<body>
    {{>navbar}}

    <div class="out">
        <div class="container">

        <div class="img1">
            <a href="/earings">
            <img src="images/earing.png" alt="Unable to load image" class="earing">
            <div class="ear_over ear_over--blur">
                <div class="text">Earrings</div>
            </div>
            </a>
            
        </div>

        <div class="img2">
            <a href="/bracelets">
            <img src="images/bracelets.png" alt="Unable to load image" class = "bracelets" >
            </a>
            <a href="/rings">
            <img src="images/rings.png" alt="Unable to load image" class="rings">
            </a>
        </div>

        <div class="img3">
            <a href="/necklace">
            <img src="images/neck3.jpg" alt="Unable to load image" class="neck">
            <div class="ear_over ear_over--blur">
                <div class="text">Necklaces</div>
            </div>
            </a>
        </div>
    </div>
    
</div>
    </div>

    {{>footer}}


</body>
</html>