<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/earings.css">
   
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {{>navbar}}
    <div class="container">
      <img src="/images/cover8.png" alt="earings" width="100%" height="400px" style="opacity:0.9 ;">
      <div class="bottom-left">Earrings</div>
    </div>

    <br />

    <div class="grid">
      <div class="card">
        <a href="proear?ref=a">
          <img src="images/earing.jpg" />
        </a>
        <h2>Plated Silver Oxidized Jhumka</h2>
        <p>Rs.2499</p>
      </div>
      <div class="card">
        <a href="proear?ref=b">
          <img src="images/earings 2.png" />
        </a>
        <h2>Traditional Gold Pearl Earings</h2>
        <p>Rs.1900</p>
      </div>
      <div class="card">
        <a href="proear?ref=c">
          <img src="images/earing4.jpg" />
        </a>
        <h2>Ghungroo Studded Handcrafted Jhumkas</h2>
        <p>Rs.1500</p>
      </div>
      <div class="card">
        <a href="proear?ref=d">
          <img src="images/earing3.jpg" />
        </a>
        <h2>Green Stone Gold Earings</h2>
        <p>Rs.2000</p>
      </div>
    </div>
    </div>

    <br />

    <div class="grid">
        <div class="card">
        <a href="proear?ref=e">
          <img src="images/earing8.jpg" />
        </a>
        <h2>Mirror Encrusted Silver Earings</h2>
        <p>Rs. 1000</p>
      </div>
      <div class="card">
        <a href="proear?ref=f">
          <img src="images/earing6.png" />
        </a>
        <h2>Diamond Drop Earring</h2>
        <p>Rs.8500</p>
      </div>
      <div class="card">
        <a href="proear?ref=g">
          <img src="images/earing 7.jpg" />
        </a>
        <h2>Ethnic Silver Pearl Beaded Earring</h2>
        <p>Rs.1100</p>
      </div>
      <div class="card">
        <a href="proear?ref=h">
          <img src="images/earing 5.jpg" />
        </a>
        <h2>Gold Plated Temple Chandbalis</h2>
        <p>Rs.3000</p>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
