<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/necklace.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
   {{>navbar}}

    <div class="container">
      <img src="images/cover6.png" alt="necklace" width="100%" height="400px"/>
      <div class="bottom-left">Necklaces</div>
    </div>

    <br />

    <div class="grid">
      <div class="card">
        <a href="proneck?ref=a">
          <img src="images/neck.jpg" />
        </a>
        <h2>Silver Mixed Metal Necklace</h2>
        <p>Rs.3999</p>
      </div>
      <div class="card">
        <a href="proneck?ref=b">
          <img src="images/neck8.png" />
        </a>
        <h2>Green Quartz Gemstone Necklace</h2>
        <p>Rs.1899</p>
      </div>
      <div class="card">
        <a href="proneck?ref=c">
          <img src="images/neck3.jpg" />
        </a>
        <h2>Eshika Temple Choker</h2>
        <p>Rs.5009</p>
      </div>
      <div class="card">
        <a href="proneck?ref=d">
          <img src="images/neck4.jpg" />
        </a>
        <h2>Green Stone & Pearl Necklace</h2>
        <p>Rs. 15000</p>
      </div>
    </div>
    <br />
    <div class="grid">
      <div class="card">
        <a href="proneck?ref=e">
          <img src="images/neck5.jpg" />
        </a>
        <h2>Diamond Necklace</h2>
        <p>Rs.20000</p>
      </div>
      <div class="card">
        <a href="proneck?ref=f">
          <img src="images/neck6.jpg" />
        </a>
        <h2>22Kt Gold Plated Necklace</h2>
        <p>Rs.4500</p>
      </div>
      <div class="card">
        <a href="proneck?ref=g">
          <img src="images/neck7.jpg" />
        </a>
        <h2>Shell Pearl & Green Jade Drops</h2>
        <p>Rs.17000</p>
      </div>
      <div class="card">
        <a href="proneck?ref=h">
          <img src="images/neck9.png" />
        </a>
        <h2>Rise Above Judgements Choker</h2>
        <p>Rs.5400</p>
      </div>
    </div>
    
    {{>footer}}
  </body>
</html>
