<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/rings.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {{>navbar}}

    <div class="container">
      <img src="/images/cover2.png" alt="rings" width="100%" height="400px" />
      <div class="bottom-left">Festive Rings</div>
    </div>

    <br />

    <div class="grid">
      <div class="card">
        <a href="prorings?ref=a">
          <img src="/images/ring.jpg" />
        </a>
        <h2>Rose Gold Floral Ring</h2>
        <p>Rs.2500</p>
      </div>
      <div class="card">
        <a href="prorings?ref=b">
          <img src="/images/ring2.jpg" />
        </a>
        <h2>Antique Gold Ring</h2>
        <p>Rs.1800</p>
      </div>
      <div class="card">
        <a href="prorings?ref=c">
          <img src="/images/ring3.jpg" />
        </a>
        <h2>Diamond Studded Gold Ring</h2>
        <p>Rs. 9800</p>
      </div>
      <div class="card">
        <a href="prorings?ref=d">
          <img src="/images/ring5.jpg" />
        </a>
        <h2>Antique Oxidised Silver Ring</h2>
        <p>Rs.2000</p>
      </div>
    </div>
    <br />
    <div class="grid">
      <div class="card">
        <a href="prorings?ref=e">
          <img src="/images/ring4.png" />
        </a>
        <h2>Mirror Encrusted Silver Ring</h2>
        <p>Rs. 1000</p>
      </div>
      <div class="card">
        <a href="prorings?ref=f">
          <img src="/images/ring7.png" />
        </a>
        <h2>Peacock Handcrafted Ring</h2>
        <p>Rs. 3500</p>
      </div>
      <div class="card">
        <a href="prorings?ref=g">
          <img src="/images/ring8.png" />
        </a>
        <h2>Temple Bell Aztec Inspired Ring</h2>
        <p>Rs.1200</p>
      </div>
      <div class="card">
        <a href="prorings?ref=h">
          <img src="/images/ring9.png" />
        </a>
        <h2>Temple Bell Aztec Inspired Ring</h2>
        <p>Rs.800</p>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
